[submodule "jenkins-docker-openshift"]
	path = jenkins-docker-openshift
	url = https://github.com/arnaud-deprez/jenkins-docker-openshift.git
[submodule "nexus3-docker"]
	path = nexus3-docker
	url = https://github.com/arnaud-deprez/nexus3-docker.git
[submodule "sonarqube-docker"]
	path = sonarqube-docker
	url = https://github.com/arnaud-deprez/sonarqube-docker.git
[submodule "selenium-openshift-templates"]
	path = selenium-openshift-templates
	url = https://github.com/arnaud-deprez/selenium-openshift-templates.git
